<div id="content">

    <div class="row">

        <div class="col-sm-12">

            <div class="well well-light">

                <h1>Vegetable and Fruits <small> > Insight</small></h1>
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="panel panel-blue pricing-big">

                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Vegetable : </h3>
                            </div>
                            <div class="panel-body no-padding text-align-center">
                                <div class="the-price">
                                    <h1>
                                        Lettuce <span class="subscript"></span></h1>
                                </div>

                            </div>
                            <div class="panel-footer text-align-center">
                                <a href="#/lettuce" class="btn btn-info btn-block" role="button">Go To Insight <span>>></span></a>

                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="panel panel-red pricing-big">

                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Fruits : </h3>
                            </div>
                            <div class="panel-body no-padding text-align-center">
                                <div class="the-price">
                                    <h1>
                                        Apple <span class="subscript"></span></h1>
                                </div>

                            </div>
                            <div class="panel-footer text-align-center">
                                <a href="#/apple" class="btn btn-danger btn-block" role="button">Go To Insight <span>>></span></a>

                            </div>
                        </div>
                    </div>


                </div>



            </div>

        </div>


    </div>